body {
  margin: 0;
  font-family: serif;
  font-size: 14px;
  background-color: #1d1d1d;
  color: #7e7c7c;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  /* color: brown; */
}
/* .container
=============== */
.container {
  /* width: 100%; */
  max-width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0 0 0 5px;
  color: #fcfcfc;
}
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: #08fdd8;
}

h2:hover {
  color: #6e6767;
  opacity: 0.5;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
  font-family: cursive;
  padding-top: 20px;
}
h6 {
  font-size: 0.18em;
  color: rgb(100, 98, 98);
}

.tags {
  margin: 0;
  padding: 0;
  color: rgb(148, 156, 156);
  font-family: La Belle Aurore, cursive, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

.tag {
  margin: 0;
  padding: 0;
  color: rgb(148, 156, 156);
  font-family: La Belle Aurore, cursive, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  margin-left: 13%;
}
.first__tag{
  margin-top: 20px;
}
.mar1 {
  margin-left: 40%;
}
.mar2 {
  margin-right: 30%;
}
p {
  margin: 0 0 10px;
}
hr {
  /* display: block; */
  height: 3px;
  /* margin: 40px 0; */
  background-color: rgb(160, 142, 142);
}

.nav_link:hover:after,
.nav_link.active:after {
  display: block;
  opacity: 1;
}

.nav_link:active {
  color: rgb(241, 240, 240);
}
.expert {
  font-size: 20px;
  color: rgb(100, 98, 98);
  font-family: fantasy;
  padding: 0.5 em;
  margin: 1em 0;
}
/* section{
  border: solid 1px red;
} */
/* .header
=============== */
.header {
  width: 8%;
  height: 100vh;
  position: fixed;
  text-align: center;
  background-color: rgb(8, 0, 0);
}
/* .nav
=============== */
.header_logo {
  font-family: serif;
  font-size: 80px;
  font-weight: 700;
  color: #fcfcfc;
  height: 300px;
}
.wd {
  margin-top: 20px;
}
.nav {
  font-size: 15px;
  margin-top: 30px;
}
.nav_link {
  display: block;
  padding: 8px;
  position: relative;
  color: #6e6767;
  text-decoration: none;
  border-top: 1px solid #6e6767;
}
.nav :last-child {
  border-bottom: 1px solid #6e6767;
}
.nav_link:hover {
  color: #08fdd8;
}

.nav_link:hover:after,
.nav_link.active:after {
  display: block;
  opacity: 1;
}

.nav_link:active {
  color: rgb(241, 240, 240);
}
.icons {
  margin-top: 220px;
}

/* .intro
=============== */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
}
.intro_inner {
  width: 100%;
  max-width: 80%;
  text-align: left;
  margin-left: 13%;
}
.intro_title {
  margin: 0 0 30px;
  font-family: serif;
  font-size: 65px;
  line-height: 1.1;
  /* color: #7e7c7c; */
  font-weight: 700;
  /* text-transform: uppercase; */
}
.intro_subtitle {
  margin-bottom: 60px;
  font-size: 22px;
  color: rgb(80, 79, 79);
  line-height: 1.5;
  font-weight: 400;
}
/* .button
=============== */
.btn {
  /* display: inline-block; */
  /* vertical-align: top; */
  padding: 10px 15px;
  margin-bottom: 50px;
  border: 1px solid #08fdd8;
  font-size: 14px;
  font-weight: 700;
  color: #08fdd8;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background-color: #08fdd8;
  color: #1d1d1d;
}
/* slider */
/* ----------------------- */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}
.slider_inner {
  display: flex;
  justify-content: space-between;
}
.slider_item {
  width: 18%;
  padding: 10px 0;
  position: relative;
  border-top: 3px solid rgb(224, 220, 224);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fcfcfc;
}
.slider_item.active {
  opacity: 1;
}
.slider_item.active:before {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.slider_num {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  color: #fcfcfc;
}
.box {
  border: none;
}
/* .
section_header {
/* .section */
.section {
  padding: 0;
  margin: 0;
  height: 100vh;
}
.section_header {
  margin: 0 auto 50px;
  text-align: center;
}

.section_suptitle {
  padding-top: 150px;
  font-size: 34px;
}

.section_title {
  font-size: 50px;
  font-weight: 700;
  color: #fcfcfc;
  text-transform: uppercase;
}
.section_title:after {
  content: "";
  display: block;
  width: 60px;
  color: #fcfcfc;
  height: 3px;
  margin: 30px auto;
  background-color: thistle;
}
p {
  font-size: 1rem;
  color: #fcfcfc;
  z-index: 1000;
}

/*   card*/

.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.card_item {
  width: 33%;
  background-color: rgb(216, 212, 195);
  position: relative;
  margin: 2rem;
}

.card_item:hover .card_img {
  transform: translate3d(-10px, -10px, 0);
}
.card_item:hover .card_img {
  opacity: 0.6;
}
.card_item:hover .card_text {
  opacity: 1;
}
.card_img {
  background-color: rgb(216, 212, 195);
  width: 100%;
}
.card_img {
  display: block;
  transition: opacity 0.2s linear;
}
.card_text {
  width: 100%;
  /* color: #676e6a; */
  color: #08fdd8;
  /* color: #fcfcfc; */
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50, 0);
  transition: opacity 0.2s linear;
}

/* .statistic */
.section--devices {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-left: 4%;
  height: 100%;
  /* opacity: 0.5; */
}
.shad {
  color: transparent;
  text-shadow: -4px 4px rgba(179, 179, 179, 0.4),
    -3px 3px rgba(153, 153, 153, 0.2), -2px 2px rgba(179, 179, 179, 0.2),
    -1px 1px rgba(179, 179, 179, 0.2), 0px 0px rgba(128, 128, 128, 0.5),
    1px -1px rgba(77, 77, 77, 0.6), 2px -2px rgba(77, 77, 77, 0.7),
    3px -3px rgba(82, 82, 82, 0.8), 4px -4px rgba(77, 77, 77, 0.9),
    5px -5px rgba(77, 77, 77, 1);
}

.statistic {
  background-color: rgb(216, 214, 214);
}

.stat {
  display: flex;
}

.stat_item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid rgb(160, 142, 142);
  text-align: center;
  color: rgb(160, 142, 142);
}

.stat_item:last-child {
  border-right: 1px solid rgb(160, 142, 142);
}

.stat_count {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.stat_text {
  font-size: 14px;
  text-transform: uppercase;
}

/* .SKILLS
=============== */
.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;
}
.skills_item {
  width: 33%;
  padding: 0 40px;
  margin: 25px 0;
  text-align: center;
}
.skills_icon {
  margin-bottom: 15px;
  font-size: 40px;
}
.skills_icon:hover {
  opacity: 0.5;
}

.skills_title {
  /* margin-bottom: 20px; */
  margin: 40px;
  font-style: 14px;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.skills_text {
  font-size: 14px;
}

/* works */
.works {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #cfc9c9; */
  padding: 0 0 0 8%;
}
.works_item {
  width: 28%;
  margin: 2%;
  height: 260px;
  border: 1px solid rgb(204, 194, 194);
  position: relative;
  overflow: hidden;
}
.works_item:hover .works_content {
  opacity: 1;
}
.works_photo {
  position: absolute;
  top: 50%;
  left: 50%;
  /* z-index: 1; */
  /* min-width: 100%; */
  /* box-shadow: 2px 2px 7px 1px #b4b6b8; */
  /* border: 10px solid red; */
  transform: translate3d(-50%, -50%, 0);
}
.works_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: rgba(235, 225, 225, 0.9);
  transition: opacity 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.works_title {
  margin-bottom: 8px;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  color: #08fdd8;
}
.works_text {
  margin-bottom: 8px;
  font-style: cursive;
  font-size: 15px;
  font-weight: 700;
  color: #08fdd8;
}

/* team */
.team {
  margin: 100px 0 70px;
}
.team_inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team_item {
  width: 25%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 30px;
}
.team_photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.team_name {
  margin-bottom: 8px;
  font-size: 22px;
}
.team_prof {
  color: rgb(253, 250, 250);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.team_text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  /* color: #000; */
}

/* social */
.social {
  display: flex;
  justify-content: center;
}
.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border: 1px solid rgb(163, 152, 152);
  transition: background 0.1s linear;
}
.social_item:hover {
  background-color: rgb(172, 178, 184);
}
.social_item:hover .social_icon {
  fill: rgb(238, 217, 217);
  transition: fill 0.1s linear;
}
.social_icon {
  display: block;
  height: 18px;
  fill: rgb(151, 152, 155);
}

/* contact*/
.contact {
  padding: 100px 0;
  display: flex;
}
.contact--sub {
  width: 80%;
  min-height: 50vh;
  text-align: center;
  margin: 20px;
}
@media only screen and (max-width: 600px) {
  .contact--sub {
    width: 100%;
  }
}
.contact_text {
  font-size: 16px;
  font-weight: 200;
  margin: 50px;
}
/* FORM */
form {
  position: relative;
}
.input {
  display: flex;
  box-sizing: border-box;
}
input {
  cursor: pointer;
}
.cont-in {
  width: 50%;
  height: 50px;
  color: #fcfcfc;
  background-color: #333333;
  border: none;
  margin: 1px;
  font-size: 16px;
  padding-left: 10px;
}
.input--top {
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 10px;
  color: #fcfcfc;
  background-color: #333333;
  box-sizing: border-box;
  margin-bottom: 1px;
}
.input--bottom {
  width: 100%;
  border: none;
  height: 200px;
  padding-left: 10px;
  color: #fcfcfc;
  background-color: #333333;
  box-sizing: border-box;
}
.cont-in:hover,
.input--top:hover,
.input--bottom:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}
.email {
  margin: 15px;
  color: #08fdd8;
  text-decoration: none;
}
.mail {
  padding: 15px;
}

/* .burger */
.burger {
  display: none;
  cursor: pointer;
}
.burger_item {
  display: block;
  width: 30px;
  height: 3px;
  transition-duration: 0.5s;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}
.burger_item:before,
.burger_item:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}
.burger_item:before {
  top: -8px;
}
.burger_item:after {
  cursor: pointer;
  bottom: -8px;
}
li:hover {
  cursor: pointer;
}
